*.DS_Store
node_modules
public/
DATA
dist/
.DS_Store
.gitignore
firebase.json
package-lock.json
yarn.lock
yarn-error.log
.parcel-cache/
src/trash/
.firebase/
packageold.json
.vscode/
compress/
test/
old/
src/trash/
bkp/
.firebaserc
.gitignore
src/argentgen.html
src/encryptChat.html
src/encryptv4.html
src/encryptv4b.html
src/encryptv5.html